* {
  box-sizing: border-box;
}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}
body {
  background-color: #e8e8e8;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #2a5885;
}
a {
  text-decoration: none !important;
}
.text-lowcase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  max-width: 100%;
  height: auto;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.header-top {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  right: 0;
  background-color: #e8e8e8;
  width: 100%	;
  box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.75);
}
.top-menu {
  width: 100%;
  height: 98px;
}
@media (min-width: 768px) {
  .top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 65px;
    padding-left: 65px;
  }
}
.logo {
  position: absolute;
  top: 24px;
  left: 25px;
  width: 25%;
}
@media (min-width: 768px) {
  .logo {
    width: 16%;
    top: 25px;
    left: 8%;
  }
}
@media (min-width: 992px) {
  .logo {
    width: 18%;
    top: 19px;
  }
}
nav.navigation {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  nav.navigation {
    top: 35px;
    width: 50%;
    left: 55%;
  }
}
@media (min-width: 992px) {
  nav.navigation {
    left: 61%;
  }
}
.header-top .top-menu-button {
  width: 100px;
  height: 37px;
  background-color: #49627e;
  position: absolute;
  top: 35px;
  right: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-top .top-menu-button:before {
  content: "";
  width: 100px;
  height: 40px;
  background-color: #5c6a97;
  border-radius: 40%;
  position: absolute;
  top: -10px;
  left: 0px;
}
a.top-menu-button-text {
  position: relative;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 600;
}
@media (min-width: 768px) {
  a.top-menu-button-text {
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  a.top-menu-button-text {
    font-size: 18px;
  }
}
a.top-menu-button-text:hover {
  text-decoration: none !important;
}
ul.navigation__list {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100vh;
  width: 100%;
  background-color: #e8e8e8;
  display: none;
}
@media (min-width: 768px) {
  ul.navigation__list {
    background-color: transparent;
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
  }
}
@media (min-width: 992px) {
  ul.navigation__list {
    background-color: transparent;
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
  }
}
ul.navigation__list--open {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
li.navigation__list-item {
  display: inline-block;
}
li.navigation__list-item a {
  display: block;
  color: #5c6a97;
  font-size: 20px;
  font-weight: 600;
  line-height: 21px;
  padding: 5px 10px;
  padding-bottom: 25px;
  margin-right: 15px;
}
li.navigation__list-item a:hover {
  color: #18406d;
  text-decoration: none !important;
}
@media (min-width: 768px) {
  li.navigation__list-item a {
    font-size: 16px;
    padding-bottom: 5px;
  }
}
@media (min-width: 992px) {
  li.navigation__list-item a {
    font-size: 20px;
    margin-left: 20px;
  }
}
.navigation__toggle {
  display: block;
  font-size: 38px;
  position: absolute;
  cursor: pointer;
  right: 16px;
  top: 23px;
  z-index: 2;
}
.navigation__toggle--fixed {
  position: fixed;
}
@media (min-width: 768px) {
  .navigation__toggle {
    display: none;
  }
}
.cmn-toggle-switch {
  display: block;
  position: absolute;
  overflow: hidden;
  top: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 5;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 45px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
@media (min-width: 768px) {
  .cmn-toggle-switch {
    display: none;
  }
}
.cmn-toggle-switch:focus {
  outline: none;
}
.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 20px;
  left: 5px;
  right: 5px;
  height: 5px;
  background: #4a76a8;
}
.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #4a76a8;
  content: "";
}
.cmn-toggle-switch span::before {
  top: -12px;
}
.cmn-toggle-switch span::after {
  bottom: -12px;
}
/**
 * Style 2
 */
.cmn-toggle-switch__htx {
  background-color: transparent;
}
.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
  transition: background 0 0.3s;
}
.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
  transition-delay: 0.3s, 0;
}
.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}
.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}
/* active state*/
.cmn-toggle-switch__htx.active {
  position: fixed;
}
.cmn-toggle-switch__htx.active span {
  background: none;
}
.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
  transition-delay: 0, 0.3s;
}
.header-block {
  position: relative;
  width: 100%;
  height: calc(88vh);
  background: #7ba5d3;
  /*overflow: hidden;*/
}
.header-skew-block {
  display: none;
}
@media (min-width: 768px) {
  .header-skew-block {
    display: block;
    position: absolute;
    content: "";
    left: -350px;
    top: 0;
    bottom: 0;
    /*width: 66%;*/
    height: 92vh;
    background: #4a76a8;
    /*transform: skewX(-43deg);*/
    z-index: 10;
    width: 99%;
    transform: skewX(-30deg);
  }
}
@media (min-width: 800px) {
  .header-skew-block {
    width: 95%;
    transform: skewX(-37deg);
  }
}
@media (min-width: 900px) {
  .header-skew-block {
    width: 90%;
    transform: skewX(-40deg);
  }
}
@media (min-width: 992px) {
  .header-skew-block {
    width: 88%;
  }
}
@media (min-width: 1100px) {
  .header-skew-block {
    width: 80%;
    transform: skewX(-43deg);
  }
}
@media (min-width: 1200px) {
  .header-skew-block {
    width: 78%;
  }
}
.header-block__content {
  display: none;
}
@media (min-width: 768px) {
  .header-block__content {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 23%;
    display: flex;
    justify-content: start;
    z-index: 1000;
    color: #ffffff;
    height: 70vh;
    overflow: hidden;
  }
}
@media (min-width: 992px) {
  .header-block__content {
    top: 25%;
  }
}
@media (min-width: 1200px) {
  .header-block__content {
    top: 25%;
  }
}
.header-block__content-text {
  width: 50%;
}
@media (min-width: 768px) {
  .header-block__content-text {
    padding-left: 40px;
  }
}
@media (min-width: 992px) {
  .header-block__content-text {
    padding-left: 60px;
  }
}
@media (min-width: 1200px) {
  .header-block__content-text {
    padding-left: 100px;
  }
}
.header-block__content-text h1 {
  font-size: 48px;
  line-height: 50px;
  font-weight: 600;
  text-transform: uppercase;
  /*letter-spacing: -3px;*/
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .header-block__content-text h1 {
    font-size: 34px;
    line-height: 44px;
    font-weight: 900;
    letter-spacing: -1px;
  }
}
@media (min-width: 992px) {
  .header-block__content-text h1 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    letter-spacing: -2px;
  }
}
@media (min-width: 1200px) {
  .header-block__content-text h1 {
    font-size: 48px;
    line-height: 50px;
    font-weight: 900;
    letter-spacing: -3px;
  }
}
.header-block__content-text h3 {
  width: 75%;
  font-weight: 300;
  font-size: 22px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .header-block__content-text h3 {
    font-size: 16px;
    width: 75%;
    margin-top: 10px;
  }
}
@media (min-width: 884px) {
  .header-block__content-text h3 {
    width: 67%;
  }
}
@media (min-width: 992px) {
  .header-block__content-text h3 {
    font-size: 18px;
    line-height: 22px;
    width: 64%;
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  .header-block__content-text h3 {
    font-size: 22px;
    line-height: 24px;
  }
}
.header-block__content-monitor {
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .header-block__content-monitor {
    padding-top: 40px;
  }
}
@media (min-width: 992px) {
  .header-block__content-monitor {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.header-block__content-monitor h3 {
  font-size: 18px;
  margin-bottom: 35px;
  font-weight: 700;
  width: 80%;
}
.header-xs-head {
  color: #fff;
  position: absolute;
  top: 62%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
}
@media (min-width: 768px) {
  .header-xs-head {
    display: none;
  }
}
.video-xs {
  padding-top: 50px;
  padding-bottom: 50px;
  /*background-color: @bg-color2;*/
}
.video-xs img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  display: none;
}
.video-xs-content h3 {
  margin-bottom: 40px;
  color: #7ba5d3;
  font-weight: 700;
}
@media (min-width: 768px) {
  .video-xs-content h3 {
    display: none;
  }
}
.fire {
  padding-bottom: 67px;
  padding-top: 67px;
  background-color: #e8e8e8;
  /*box-shadow: 0px -6px 18px 0px rgba(0, 0, 0, 0.75);*/
}
.fire-content-button {
  position: relative;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 309px;
  display: inline-block;
  overflow: hidden;
  border-radius: 10px;
  background-color: #7fabdc ;
  box-shadow: 0px 6px 6px 0px rgba(5, 61, 54, 0.75);
  padding-left: 25px;
  padding-right: 25px;
  height: 60px;
  padding-top: 16px;
}
.fire-content-button:before {
  content: "";
  width: 320px;
  height: 80px;
  background-color: #5181b8;
  border-radius: 40%;
  position: absolute;
  top: -30px;
  left: -9px;
}
.fire-content-button-text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
h2.fire-text {
  font-size: 22px;
  line-height: 25px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #18406d;
}
/*******************************/
.cards {
  position: relative;
  background-color: #7ba5d3;
  padding-top: 67px;
  padding-bottom: 45px;
  overflow: hidden;
  box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.75);
}
.cards::before {
  content: "";
  position: absolute;
  right: -350px;
  bottom: 0;
  top: 0;
  width: 75%;
  height: 100%;
  transform: skewX(-45deg);
  z-index: 10;
  background-color: #4a76a8;
}
.section-head-h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 85px;
}
.cards h2 {
  margin-bottom: 85px;
}
.cards-item {
  position: relative;
  padding-top: 125px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  color: #7ba5d3;
  background-color: #e8e8e8;
  border-radius: 15px;
  border: 3px dotted #49627e;
  margin-bottom: 40px;
  z-index: 15;
}
.cards-item img {
  position: absolute;
  top: -33px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .cards-item {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    margin-bottom: 0px;
  }
}
@media (min-width: 992px) {
  .cards-item {
    padding-top: 100px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 35px;
  }
}
@media (min-width: 1200px) {
  .cards-item {
    padding-top: 125px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 44px;
  }
}
.cards-item-head {
  font-size: 20px;
  font-weight: 600;
  color: #18406d;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .cards-item-head {
    font-size: 18px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 992px) {
  .cards-item-head {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 25px;
  }
}
@media (min-width: 1200px) {
  .cards-item-head {
    font-size: 20px;
    margin-bottom: 40px;
  }
}
.ssmpro {
  position: relative;
  padding-top: 70px;
  background-color: #fff;
}
.ssmpro::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  height: 80%;
  background-color: #e8e8e8;
  z-index: 1;
}
.ssmpro .container {
  position: relative;
  z-index: 2;
}
.head-green {
  color: #18406d;
}
.head-uppercase {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 40px;
}
.magrin-bottom-20 {
  margin-bottom: 10px;
}
.page-paragraf {
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  color: #2a5885;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .page-paragraf {
    font-size: 15px;
    line-height: 22px;
  }
}
@media (min-width: 992px) {
  .page-paragraf {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  .page-paragraf {
    font-size: 20px;
    line-height: 26px;
  }
}
/*******************************/
.ssmpro__round-block {
  /*border: 3px dotted @border-color;*/
}
.ssmpro__round-block img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.ssmpro__quadro-block {
  padding: 50px 30px 44px 45px;
  border: 3px dotted #147f70;
  border-radius: 15px;
  background-color: #e8e8e8;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 100px;
}
@media (min-width: 768px) {
  .ssmpro__quadro-block {
    padding: 30px 15px;
  }
}
@media (min-width: 992px) {
  .ssmpro__quadro-block {
    padding: 35px 15px;
  }
}
@media (min-width: 1200px) {
  .ssmpro__quadro-block {
    padding: 50px 30px 44px 45px;
  }
}
.margin-bottom-45 {
  margin-bottom: 45px;
  line-height: 25px;
}
@media (min-width: 992px) {
  .margin-bottom-45 {
    margin-bottom: 35px;
  }
}
@media (min-width: 1200px) {
  .margin-bottom-45 {
    margin-bottom: 45px;
  }
}
ul.ssmpro__quadro-block-list {
  position: relative;
  list-style-type: none;
}
ul.ssmpro__quadro-block-list li {
  font-size: 20px;
  line-height: 28px;
}
@media (min-width: 768px) {
  ul.ssmpro__quadro-block-list li {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 992px) {
  ul.ssmpro__quadro-block-list li {
    font-size: 16px;
    line-height: 26px;
  }
}
@media (min-width: 1200px) {
  ul.ssmpro__quadro-block-list li {
    font-size: 20px;
    line-height: 28px;
  }
}
ul.ssmpro__quadro-block-list li span {
  font-size: 14px;
  margin-right: 5px;
}
.utilise {
  background-color: #fff;
  padding-bottom: 63px;
  color: #7ba5d3;
}
.text-start::before {
  content: "*";
  color: #7ba5d3;
  margin-right: 5px;
}
p.paragraf {
  color: #7ba5d3;
  margin-bottom: 20px;
  margin-top: 10px;
  line-height: 25px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.after-start::after {
  content: "*";
  color: #FFF;
  margin-left: 5px;
}
p.paragraf-blue {
  color: #162e49;
}
.paragraf-light-blue {
  color: #375c87;
}
footer.page-footer {
  padding-top: 30px;
  padding-bottom: 25px;
  box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.75);
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
footer.page-footer a {
  color: #7fabdc;
  margin-bottom: 10px;
  border-bottom: 1px solid #7fabdc;
}
footer.page-footer a:hover {
  color: #4a76a8;
  border-bottom-color: #4a76a8;
}
.footer-link-1,
.footer-link-2 {
  font-size: 14px;
}
.footer-link-3,
.footer-link-4 {
  font-size: 12px;
}
.footer-link-4 {
  margin-left: 50px;
}
@media (min-width: 768px) {
  .footer-link-4 {
    margin-left: 25px;
  }
}
.footer-link-1 {
  margin-right: 54px;
}
@media (min-width: 768px) {
  .footer-link-1 {
    margin-right: 25px;
  }
}
@media (min-width: 992px) {
  .footer-link-1 {
    margin-right: 50px;
  }
}
.page-footer-links {
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .page-footer-links {
    width: 50%;
  }
}
.page-footer-links-left {
  justify-content: flex-start;
}
.page-footer-links-right {
  justify-content: flex-start;
}
@media (min-width: 768px) {
  .page-footer-links-right {
    justify-content: flex-end;
  }
}
/*# sourceMappingURL=main.css.map */