.header-top {
	position: fixed;
	z-index:1001;
	top: 0;
	left: 0;
	right: 0;
    background-color: @bgbody;
	width: 100%	;
	box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.75);
}
.top-menu {
	width: 100%;
	height: 98px;
	@media (min-width: 768px){
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 65px;
	padding-left: 65px;}
	
}
.logo {
position: absolute;
top: 24px;
left: 25px;
width: 25%;
  @media (min-width: 768px){
     width: 16%;
     top: 25px;
     left: 8%;
  }
  @media (min-width: 992px){
     width: 18%;
     top: 19px;
  }
}
nav.navigation {
	position: absolute;
	top: 100px;
	left: 50%;
	width: 100%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	@media (min-width: 768px){
		top: 35px;
		width: 50%;
		left: 55%;
	}
	@media (min-width: 992px){
		left: 61%;
	}
}
.header-top .top-menu-button{
	width: 100px;
	height: 37px;
	background-color: @border-color;
	position: absolute;
	top: 35px;
	right: 6%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-top .top-menu-button:before {
	content:"";
	width: 100px;
	height: 40px;
	background-color:@top-menu-button;
	border-radius: 40%;
	position: absolute;
	top: -10px;
	left: 0px;
	
}
a.top-menu-button-text {
	position: relative;
	font-size: 18px;
	color: @white;
	margin-bottom: 10px;
	font-weight: 600;
	@media (min-width: 768px){
	 	font-size: 15px;
	 	
	 }
	 @media (min-width: 992px){
	 	font-size: 18px;
	 	
	 }
		&:hover {
			
			text-decoration: none !important;}
}

ul.navigation__list {
	padding-top: 50px;
	padding-bottom: 50px;
    height:100vh;
	width: 100%;
	background-color: @bgbody;
	display:none;
	@media (min-width: 768px){
		background-color: transparent;		
		display: block;
		margin:0;
		padding: 0;
		list-style-type: none;
		text-align: right;}

		@media (min-width: 992px){
		background-color: transparent;		
		display: block;
		margin:0;
		padding: 0;
		list-style-type: none;
		text-align: center;}
	&--open {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-direction: column;
		     }
}

li.navigation__list-item {
	display: inline-block;
}

li.navigation__list-item a {
	display: block;
	color:  @top-menu-button;
	font-size: 20px;
	font-weight: 600;
	line-height: 21px;
	padding: 5px 10px;
	padding-bottom: 25px;
	margin-right: 15px;
	  &:hover{
		color:@head-color;
		text-decoration: none !important;
	  }

	@media (min-width: 768px){
		font-size: 16px;
		padding-bottom: 5px;
	}  
	@media (min-width: 992px){
		font-size: 20px;
		margin-left: 20px;
	}
}

.navigation__toggle {
	display: block;
	font-size: 38px;
	position: absolute;
	cursor: pointer;	
	right:16px;
	top: 23px;
	z-index: 2;	
		&--fixed {
    position: fixed;
	}
	@media (min-width: 768px) {
		display: none;}
 }

